**/*.log*
**/.cache/
**/.firebase/
**/.idea/
.yarn/**
.swc

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
**/coverage/
**/node_modules/
**/snapshot/__output__/
**/snapshot/__report__/
**/snapshot/__snapshots__/
*.log*
.eslintcache
.stylelintcache

# next.js
**/.next/
/out/

# production
build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
**/.env.*.local
**/.env.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
