@import "tailwindcss";

@source "../../ui/components";
@source "../../web/src";

:root {
  --green: #00796b;
  --blue: #0277bd;
  --gray: #9e9e9e;
  --red: #b71c1c;
  --white: #ffffff;
}

@theme {
  --color-*: initial;
  --color-primary: var(--green);
  --color-secondary: var(--blue);
  --color-tertiary: var(--gray);
  --color-caution: var(--red);
  --color-white: var(--white);
}

@layer utilities {
  .bg-reset {
    background: none;
  }
}
