name: a11y storybook test

on:
  workflow_call:
    inputs:
      REF_BRANCH:
        required: true
        type: string
    outputs:
      a11y_result: 
        description: "Test Result"
        value: ${{ jobs.a11y_test.outputs.a11y_result }}

jobs:
  a11y_test:
    name: a11y test
    runs-on: ubuntu-latest
    outputs:
      a11y_result: ${{ steps.a11y_result.outputs.report }}
    steps:
      - name: set up base repository
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.REF_BRANCH }}
      - name: Set up
        uses: ./.github/actions/setup-node
      - name: Set up playwright
        run: yarn playwright install
      - name: Run a11y test
        run: |
          yarn web vrtest-setup
          yarn web vrtest-a11y
      - name: Set a11y result
        id: a11y_result
        if: always()
        run: |
          delimiter="$(openssl rand -hex 8)"
          echo "report<<${delimiter}" >> "${GITHUB_OUTPUT}"
          echo "$(cat ./packages/web/snapshot/a11y-comment.json)" >> "${GITHUB_OUTPUT}"
          echo "${delimiter}" >> "${GITHUB_OUTPUT}"
      - name: Upload a11y test report artifact
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: a11y-test-report-artifact
          path: ./packages/web/playwright-report
          retention-days: 1
