name: a11y storybook test

on:
  issue_comment:
    types:
      - created
    paths:
      - packages/ui/**
      - packages/user/**
    branches-ignore:
      - qa

jobs:
  a11y-test:
    name: a11y test
    runs-on: ubuntu-latest
    if: github.event.issue.pull_request && startsWith(github.event.comment.body, '/a11y')
    steps:
      - name: set up base repository
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.base.ref }}
      - name: set base env
        run: |
          echo "EXPECTED_KEY=$KEY" >> $GITHUB_ENV
        env:
          KEY: ${{ hashFiles('libs/**', 'package.json', 'packages/ui/**', 'packages/web/**', 'yarn.lock') }}
      - name: set up head repository
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.ref }}
      - name: set head env
        run: |
          echo "ACTUAL_KEY=$KEY" >> $GITHUB_ENV
        env:
          KEY: ${{ hashFiles('libs/**', 'package.json', 'packages/ui/**', 'packages/web/**', 'yarn.lock') }}
      - name: Set up
        uses: ./.github/actions/setup-node
      - name: Set up playwright
        run: yarn playwright install
      - name: Run a11y test
        continue-on-error: true
        id: a11y_test
        run: |
          yarn web vrtest-setup
          yarn web vrtest-a11y
      - name: Comment test results
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NUMBER: ${{ github.event.issue.number }}
        run: gh pr comment "$NUMBER" -F ./packages/user/playwright/a11y-report.txt --repo ${{ github.repository }}
      - name: Upload a11y test report artifact
        uses: actions/upload-artifact@v3
        with:
          name: a11y-test-report-artifact
          path: packages/user/playwright-report/
          retention-days: 1
