name: a11y storybook test

on:
  issue_comment:
    types:
      - created
    paths:
      - packages/ui/**
      - packages/user/**
    branches-ignore:
      - qa

jobs:
  a11y-test:
    name: a11y test
    runs-on: ubuntu-latest
    if: github.event.issue.pull_request && startsWith(github.event.comment.body, '/a11y')
    steps:
      - name: set up repository
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.ref }}
      - name: Set up node_modules
        uses: ./.github/workflows/setup-node-modules
        with:
          cache_key: a11y
      - name: Build storybook
        run: yarn user vrtest-setup
      - name: Set up playwright
        run: yarn playwright install
      - name: Run a11y test
        continue-on-error: true
        id: a11y_test
        run: |
          yarn user a11y-check --reporter=list,playwright/reporter.ts,html
      - name: Comment test results
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NUMBER: ${{ github.event.issue.number }}
        run: gh pr comment ${{ NUMBER }} -F ./packages/user/playwright/a11y-report.txt --repo ${{ github.repository }}
      - name: Upload a11y test report artifact
        uses: actions/upload-artifact@v3
        with:
          name: a11y-test-report-artifact
          path: packages/user/playwright-report/
          retention-days: 1
