name: Create a pull request for release

on:
  workflow_dispatch:
  push:
    branches: [release, pre-release]

jobs:
  create_pr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Check for existing PR
        uses: actions/github-script@v7
        id: check_pr
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const { data: pullRequests } = await github.rest.pulls.list({
              owner: context.repo.owner,
              repo: context.repo.repo,
              state: 'open',
              base: 'main',
              head: context.payload.repository.full_name + ':' + context.payload.ref,
            });
            core.setOutput('ref', context.payload.ref.replace('refs/heads/', ''));
            if (pullRequests.length > 0) {
              core.setOutput('pr_exists', 'true');
              console.log('An existing PR from the same branch to main already exists.');
            } else {
              core.setOutput('pr_exists', 'false');
              console.log('No existing PR found.');
            }
      - name: Create PR to main
        if: steps.check_pr.outputs.pr_exists == 'false'
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh pr create -B "main" -H "${{ steps.check_pr.outputs.ref }}" -t "build: ${{ steps.check_pr.outputs.ref}} -> main" -b "自動生成された PR です。${{ steps.check_pr.outputs.ref }} ブランチの変更を main ブランチに反映します。"
