name: bump version

on:
  workflow_dispatch:
    inputs:
      bump:
        type: choice
        description: Please Choice Bump Target
        options:
          - patch
          - minor
          - major

jobs:
  setup:
    name: Set up
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: ./.github/actions/setup-node

  bump:
    name: Bump up version
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    needs: setup
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: ./.github/actions/setup-node
      - name: bump up version
        run: |
          yarn new-version ${{ github.event.inputs.bump }} --yes --no-push --no-git-tag-version 
      - name: set env
        run: |
          echo "BUMP_VERSION=$(node scripts/lerna-version.js)" >> $GITHUB_ENV
      - name: create branch
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git checkout -b version-${{ env.BUMP_VERSION }}
          git tag -a ${{ env.BUMP_VERSION }}
          git commit -a -m "bump version"
          git push origin version-${{ env.BUMP_VERSION }}
          git push origin ${{ env.BUMP_VERSION }}
      - name: create pull request
        run: |
          gh pr create --base main --title "build: Bump version ${{ env.BUMP_VERSION }}" --body ""

  update_release_draft:
    needs: bump
    permissions:
      contents: write
      pull-requests: write
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: ./.github/actions/setup-node
      - name: Release Drafter
        uses: release-drafter/release-drafter@v5.21.1
