name: danger

on:
  pull_request:
    branches: [main]

jobs:
  danger:
    runs-on: ubuntu-latest
    env:
      BUNDLE_GEMFILE: ${{ github.workspace }}/Danger.gemfile
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 100
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
          cache-version: 1
      - name: Run Danger
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: bundle exec danger
