name: Labeler
on: [pull_request]

jobs:
  label:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - name: Labeler from web
        uses: actions/labeler@v4.3.0
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
      - name: Labeler from title
        uses: actions/github-script@v6
        with:
          script: |
            const result = await github.rest.issues.get({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
            });
            const issue = result.data;
            const title = issue.title;
            const labels = [];

            if (title.startsWith("chore:")) {
              labels.push("chore");
            }

            if (title.startsWith("fix") || title.startsWith("Bump")) {
              labels.push("fixed");
            }

            if (title.startsWith("feat")) {
              labels.push("feat");
            }

            if (title.startsWith("delete")) {
              labels.push("removed");
            }

            if (title.startsWith("change") || title.startsWith("update") || title.startsWith("revert")) {
              labels.push("changed");
            }

            if (labels.length > 0) {
              await github.rest.issues.addLabels({
                issue_number: context.issue.number,
                owner: context.repo.owner,
                repo: context.repo.repo,
                labels: labels
              })
            }
