name: Lighthouse

on:
  workflow_dispatch:

jobs:
  lighthouse-testing:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: "16.18.0"

      - name: Install lighthouse
        run: sudo npm i -g lighthouse

      - name: Run lighthouse
        run: |
          lighthouse \
            --chrome-flags="--headless" \
            --output html --output-path ./report.html \
            'https://yqb.jp'

      - name: Upload result
        uses: actions/upload-artifact@v4
        with:
          name: report
          path: report.html
