name: a11y notification

on:
  workflow_dispatch:

jobs:
  a11y-test:
    uses: ./.github/workflows/a11y-test.yaml
    with:
      REF_BRANCH: main

  notification:
    needs: a11y-test
    if: always()
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
    steps:
      - uses: 8398a7/action-slack@v3
        if: always()
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL_CI }}
        with:
          status: custom
          custom_payload: ${{ needs.a11y-test.outputs.a11y_result }}
