name: visual regression test

on:
  pull_request:
    branches:
      - main
    paths:
      - libs/**
      - package.json
      - packages/ui/**
      - packages/web/**
      - yarn.lock

  push:
    branches:
      - master
    paths:
      - libs/**
      - package.json
      - packages/ui/**
      - packages/web/**
      - yarn.lock

jobs:
  visual_regression_test:
    name: visual regression test(web)
    runs-on: ubuntu-latest
    steps:
      - name: set up base repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.base.ref }}
      - name: set base env
        run: |
          echo "EXPECTED_KEY=$KEY" >> $GITHUB_ENV
        env:
          KEY: ${{ hashFiles('libs/**', 'package.json', 'packages/ui/**', 'packages/web/**', 'yarn.lock') }}
      - name: set up head repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.ref }}
      - name: set head env
        run: |
          echo "ACTUAL_KEY=$KEY" >> $GITHUB_ENV
        env:
          KEY: ${{ hashFiles('libs/**', 'package.json', 'packages/ui/**', 'packages/web/**', 'yarn.lock') }}
      - name: Set up
        uses: ./.github/actions/setup-node
      - name: Japanese Font Install
        run: sudo apt install fonts-noto-cjk
      - name: Set up playwright
        run: yarn playwright install
      - name: Build web
        run: |
          yarn web vrtest-setup
          yarn web vrtest-snapshot
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-northeast-1
      - name: run reg-suit
        run: yarn web vrtest-regression

env:
  REG_S3_BUCKET_NAME: ${{ secrets.REG_S3_BUCKET_NAME }}
  REG_NOTICE_CLIENT_ID: ${{ secrets.REG_NOTICE_CLIENT_ID }}
